<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <File name="FindingUrl" fileName="logs/FindingUrl.log" append = "false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL" />
            </Filters>
        </File>
        <File name="Exceptions" fileName="logs/Exceptions.log" append = "false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Exceptions" level = "error"/>
            <AppenderRef ref="FindingUrl" level ="info" />
        </Root>
    </Loggers>

</Configuration>