<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <File name="SearchHistory" fileName="logs/search.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL" />
            </Filters>
        </File>
        <File name="SearchErrors" fileName="logs/input_errors.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL" />
            </Filters>
        </File>
        <File name="SearchExceptions" fileName="logs/exceptions.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="SearchErrors" level = "warn"/>
            <AppenderRef ref="SearchExceptions" level = "error"/>
            <AppenderRef ref="SearchHistory" level ="info" />
        </Root>
    </Loggers>

</Configuration>